header .container {
    border: solid 1px #CCC;
}

body {
    background: var(--black);
    font-family: 'Times New Roman', Times, serif;
}

header .logo {
    margin-left: 5px;
    color: var(--red);
    font-family: 'Arial Black';
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgb(211, 75, 75);
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #FFF;
    /* transition-duration: 10ms; */
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}